* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0 60px 0;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.search-input {
  width: 60%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
  color: #333;
}
.search-btn {
  padding: 10px 20px;
  background-color: #138065;
  color: #fff;
  border: none;
  font-size: 18px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.photo-card {
  margin-bottom: 60px;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.photo-card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}

.photo-card:hover,
.photo-card:focus {
  opacity: 0.8;
}
.info {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  text-transform: capitalize;
}

.load-more {
  background-color: #008cba;
  font-size: 18px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 30px auto;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .photo-card {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .photo-card {
    width: 100%;
  }
}
